@media (min-width : 320px) and (max-width: 549px){


  input{
    @include span-columns(11);
    @include shift(.5);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .header{
    color: $blue;
    font-size: 3em;
  }

  .shipping-header{
    margin-top: 2em;
    font-size: 2em;
  }

  #shipping-form{
    @include span-columns(11);
    @include shift(.5);
    margin-top: 3em;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    font-size: 1em;
  }

  label{
    @include span-columns(11);
    @include shift(.5);
    font-size: 1.5em;
  }

  .checkout{
    @include span-columns(11);
    @include shift(.5);
  }

  .submit-button{
    @include span-columns(8);
    @include shift(2);
    margin-bottom: 2em;
  }


}
